body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-y: scroll;
}

main {
  min-height: calc(100vh - 114px);
}

footer {
  height: 50px;
}
